<div class="home">

  <dialog (close)="obtainModal().showModal()" id="login-modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">

    @if (databaseService.databaseError()) {
      <app-alert [outline]="false" [message]="databaseService.databaseError()"></app-alert>
    }

    <fieldset class="fieldset bg-base-200 border border-base-300 p-4 rounded-box">
      <legend class="fieldset-legend">Login</legend>

      <label class="fieldset-label">Name</label>
      <input type="email" [(ngModel)]="name" class="input" placeholder="Name" />


      <label class="fieldset-label">Password</label>
      <input type="password" [(ngModel)]="password" class="input" placeholder="Timestamp" />
      <label class="fieldset-label">Signature</label>

      <button (click)="login(LoginType.PASSWORD)" class="btn btn-neutral mt-4">Login with Password</button>
      <button (click)="login(LoginType.PASSKEY)" class="btn btn-neutral mt-4">Login with Passkey</button>
    </fieldset>
  </div>
</dialog>
</div>
